.demo {
    margin: 0 auto;
    max-width: 10rem;
}

.circle {
    animation: spin 0.5s linear infinite;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 100px;
    left: -50%;
    /* position: absolute; */
    top: 50%;
    /* transform: translateX(-50%); */
    width: 100px;
}

.one {
    animation-delay: .2s;
    /* transform-origin一般和transform一起用 */
    transform-origin:20% 50%;
    /* width: 190%; */
}

.two {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-transform-origin: 48.5% 47.5%;
    transform-origin: 48.5% 47.5%;
    width: 195%;
}

.three {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-transform-origin: 49% 48%;
    transform-origin: 49% 48%;
    width: 200%;
}

.four {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-transform-origin: 49.5% 48.5%;
    transform-origin: 49.5% 48.5%;
    width: 205%;
}

.five {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    -webkit-transform-origin: 50% 49%;
    transform-origin: 50% 49%;
    width: 210%;
}

.six {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
    -webkit-transform-origin: 50.5% 49.5%;
    transform-origin: 50.5% 49.5%;
    width: 215%;
}

@keyframes spin {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    /* 50% {
        transform: rotateZ(180deg);
    } */
    100% {
        transform: rotateZ(360deg);
    }
}